@import "{{ .chezmoi.homeDir }}/.config/rofi/config.rasi"

window {{"{{"}}
  padding: 0;
{{"}}"}}

mainbox {{"{{"}}
  margin: 400px 730px;
  border: 1px;
  border-color: {color4};
  background-color: #{color4.strip}20;
  children: [inputbar, nodes, listview];
{{"}}"}}

listview {{"{{"}}
  expand: false;
  fixed-height: true;
  lines: 2;
{{"}}"}}

element {{"{{"}}
  children: [element-index, element-text];
{{"}}"}}

nodes {{"{{"}}
  expand: false;
  spacing: 8;
  border: 0px 0px 0px 2px;
  border-color: @active-background;
  padding: 0px 0px 0px 0.5em;
  margin: 0.3em 0 0 0;
  children: [];
{{"}}"}}
