[submodule ".dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule ".bin/i3-window-killer"]
	path = .bin/i3-window-killer
	url = https://github.com/mouchabeurre/i3-window-killer.git
  ignore = all
[submodule "dotfiles/.config/nvim"]
	path = dotfiles/.config/nvim
	url = https://github.com/mouchabeurre/nyoom.nvim.git
