sub-font="IBM Plex Serif SmBld"
sub-font-size=44
sub-margin-y=62
sub-color="#ffdf7f"
sub-border-color="#b0000000"
sub-border-size=1
embeddedfonts=no

screenshot-directory={{ .chezmoi.homeDir }}/Images/screenshots/mpv
screenshot-template="%F_%P"
