#!/usr/bin/env bash
mkdir -p "{{ .env.XDG_CONFIG_HOME }}/dunst"
if [[ ! -L "{{ .env.XDG_CONFIG_HOME }}/dunst/dunstrc" ]]; then
	ln -sf "{{ .env.XDG_CACHE_HOME }}/wal/dunstrc" "{{ .env.XDG_CONFIG_HOME }}/dunst/dunstrc"
fi
killall dunst || exit 1
